<!-- Top Bar -->
<section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          📱 <a href="https://api.whatsapp.com/send?phone=5561995746921&text=Oi,%20estou%20no%20site%20e%20vi%20um%20imovel%20que%20me%20interessou,%20vamos%20conversar%20sobre%20ele..."
            style="color: #333333 !important;">(61) 99574-6921</a> &nbsp; &nbsp; &nbsp;  
          📱 <a href="https://api.whatsapp.com/send?phone=5561996351266&text=Oi,%20estou%20no%20site%20e%20vi%20um%20imovel%20que%20me%20interessou,%20vamos%20conversar%20sobre%20ele..."
            style="color: #333333 !important;">(61) 99635-1266</a>
        </div>
        <div class="col-md-4 text-end">
          📨 <a href="mailto:cjimoveisbrasilia@gmail.com" style="color: #333333 !important;">cjimoveisbrasilia@gmail.com</a>
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="https://facebook.com/cjimoveisbrasilia">
              <i class="bi bi-facebook btn-social-icons"></i>
            </a>
            <a href="https://instagram.com/cjimoveisbrasilia">
              <i class="bi bi-instagram btn-social-icons"></i>
            </a>
            <a href="https://api.whatsapp.com/send?phone=5561995746921&text=Oi,%20estou%20no%20site%20e%20vi%20um%20imovel%20que%20me%20interessou,%20vamos%20conversar%20sobre%20ele...">
              <i class="bi bi-whatsapp btn-social-icons"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
