<!-- Top Bar -->
<section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          📱 (61) 99555-5555 &nbsp; 
          📱 (61) 99555-5555
        </div>
        <div class="col-md-4 text-end">
          📨 <a href="mailto:cjimoveisbrasilia@gmail.com" style="color: #333333 !important;">cjimoveisbrasilia@gmail.com</a>
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="#">
              <i class="bi bi-facebook btn-social-icons"></i>
            </a>
            <a href="#">
              <i class="bi bi-instagram btn-social-icons"></i>
            </a>
            <a href="#">
              <i class="bi bi-whatsapp btn-social-icons"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
